<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Product List</h2>
  <a href="{{route('products.create')}}" type="button" class="btn btn-success">Add New</a>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>price</th>
        <th>description</th>
        <th>Status</th>
        <th>category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @each((product,index) in products)
      <tr>
        <td>{{ product ? product.title : 'N/A'}}</td>
        <td>{{ product ? product.price : 'N/A'}}</td>
        <td>{{ product ? (product.description == null ? 'No icon Avaiable ': 'N/A') : 'N/A'}}</td>
        <td>{{ product ? product.category_id : 'N/A'}}</td>
        <td><button type="button" class="btn btn-success">{{ product.status === 0 ? 'Active': 'Inactive'}}</button></td>
        <td><a href="{{route('products.edit', {id:product.id})}}" type="button" class="btn btn-success">Edit</a></td>
        <td>
        
          <form
          action="/products/{{product.id}}?_method=delete"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        
        </td>
     
      </tr>
      @endeach
    </tbody>
  </table>
</div>
<script>
  function myFunction() {
  document.getElementById("demo").innerHTML = "Hello World";
}
</script>
</body>
</html>
